.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  text-transform: capitalize;
}
.Meaning .example {
  font-size: 14px;
  opacity: 0.6;
  font-style: italic;
  text-transform: initial;
}
